*{
    text-align: center;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}


body{
    background-color: hsl(185, 75%, 39%);
   
}

.container{
    margin: auto;
    margin-top: 5%;
    width: 54vh;
    
    background-color: white;
    border-radius: 20px;
    
}

#blue{
    
    width: 100%;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    
}

h1{
    color: hsl(229, 23%, 23%);
    margin-top: -2rem;
}


#img{
    position: relative;
    border-radius: 50%;
    border:solid 4px white;
    bottom: 3rem;
    padding: 0px;
}

.infos{
    display: flex;
    justify-content: space-around;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.label{
    display: flex;
    justify-content: space-around;
    margin-top: -2rem;
    margin-right: 1rem;
}


label{
    color: hsl(227, 10%, 46%);
    padding: 1rem;
}


